name: "Build C++ Projects"

on:
  workflow_call:
    inputs:
      vcpkg_packages:
        type: string
        required: false
        description: 'A list of vcpkg packages to install'
      project_name:
        type: string
        required: false
        description: 'The project name'
        default: ${{ github.event.repository.name }}
      system_packages:
        type: string
        required: false
        description: 'A list of system packages to install'
        default: ''
      is_library:
        type: boolean
        required: false
        description: 'If the project to build is a library (.so or .dll)'
        default: false

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install system packages
        if: runner.os == 'Linux' && inputs.system_packages != ''
        run: sudo apt install ${{ inputs.system_packages }}

      - name: Install vcpkg (Windows)
        if: runner.os == 'Windows' && inputs.vcpkg_packages != ''
        uses: johnwason/vcpkg-action@v7.0.1
        with:
          pkgs: ${{ inputs.vcpkg_packages }}
          triplet: x64-windows
          token: ${{ github.token }}

      - name: Install vcpkg (Linux)
        if: runner.os == 'Linux' && inputs.vcpkg_packages != ''
        uses: johnwason/vcpkg-action@v7.0.1
        with:
          pkgs: ${{ inputs.vcpkg_packages }}
          triplet: x64-linux
          token: ${{ github.token }}


      - name: Configure CMake (Debug) [Windows, vcpkg]
        if: runner.os == 'Windows' && inputs.vcpkg_packages != ''
        run: cmake -B ${{github.workspace}}/build-cmake-debug -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows -DVCPKG_MANIFEST_MODE=OFF

      - name: Configure CMake (Debug) [Windows]
        if: runner.os == 'Windows' && inputs.vcpkg_packages == ''
        run: cmake -B ${{github.workspace}}/build-cmake-debug -DCMAKE_BUILD_TYPE=Debug
        
      - name: Configure CMake (Debug) [Linux, vcpkg]
        if: runner.os == 'Linux' && inputs.vcpkg_packages != ''
        run: cmake -B ${{github.workspace}}/build-cmake-debug -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-linux -DVCPKG_MANIFEST_MODE=OFF

      - name: Configure CMake (Debug) [Linux]
        if: runner.os == 'Linux' && inputs.vcpkg_packages == ''
        run: cmake -B ${{github.workspace}}/build-cmake-debug -DCMAKE_BUILD_TYPE=Debug
  
      - name: Build (Debug)
        run: cmake --build ${{github.workspace}}/build-cmake-debug --config Debug

  
      - name: Configure CMake (Release) [Windows, vcpkg]
        if: runner.os == 'Windows' && inputs.vcpkg_packages != ''
        run: cmake -B ${{github.workspace}}/build-cmake-release -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows -DVCPKG_MANIFEST_MODE=OFF

      - name: Configure CMake (Release) [Windows]
        if: runner.os == 'Windows' && inputs.vcpkg_packages == ''
        run: cmake -B ${{github.workspace}}/build-cmake-release -DCMAKE_BUILD_TYPE=Release

      - name: Configure CMake (Release) [Linux, vcpkg]
        if: runner.os == 'Linux' && inputs.vcpkg_packages != ''
        run: cmake -B ${{github.workspace}}/build-cmake-release -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-linux -DVCPKG_MANIFEST_MODE=OFF

      - name: Configure CMake (Release) [Linux]
        if: runner.os == 'Linux' && inputs.vcpkg_packages == ''
        run: cmake -B ${{github.workspace}}/build-cmake-release -DCMAKE_BUILD_TYPE=Release
  
      - name: Build (Release)
        run: cmake --build ${{github.workspace}}/build-cmake-release --config Release

  
      - name: Upload Debug (Windows)
        if: runner.os == 'Windows'
        uses: actions/upload-artifact@v4.6.2
        with:
          name: "${{ inputs.project_name }}-${{ runner.os }}-Debug"
          path: build-cmake-debug/Debug

      - name: Upload Debug (Linux)
        if: runner.os == 'Linux' && !inputs.is_library 
        uses: actions/upload-artifact@v4.6.2
        with:
          name: "${{ inputs.project_name }}-${{ runner.os }}-Debug"
          path: build-cmake-debug/${{ inputs.project_name }}

      - name: Upload Debug (Linux) [library]
        if: runner.os == 'Linux' && inputs.is_library 
        uses: actions/upload-artifact@v4.6.2
        with:
          name: "${{ inputs.project_name }}-${{ runner.os }}-Debug"
          path: build-cmake-debug/${{ inputs.is_library && 'lib' || '' }}${{ inputs.project_name }}.so

          
      - name: Upload Release (Windows)
        if: runner.os == 'Windows'
        uses: actions/upload-artifact@v4.6.2
        with:
          name: "${{ inputs.project_name }}-${{ runner.os }}-Release"
          path: build-cmake-release/Release
          
      - name: Upload Release (Linux)
        if: runner.os == 'Linux' && !inputs.is_library 
        uses: actions/upload-artifact@v4.6.2
        with:
          name: "${{ inputs.project_name }}-${{ runner.os }}-Release"
          path: build-cmake-release/${{ inputs.project_name }}
          
      - name: Upload Release (Linux) [library]
        if: runner.os == 'Linux' && inputs.is_library 
        uses: actions/upload-artifact@v4.6.2
        with:
          name: "${{ inputs.project_name }}-${{ runner.os }}-Release"
          path: build-cmake-release/${{ inputs.is_library && 'lib' || '' }}${{ inputs.project_name }}.so
